<h1>Editing Employee Details</h1>

<%= render 'form', employer: @employer %>
<br>
<%= link_to 'Show', @employer ,class:"btn btn-primary"%> 
<%= link_to 'Back', employers_path,class:"btn btn-secondary" %>
